<head>
  <!-- META -->
  <title>{{ site.title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="{{ site.description }}" />

    <meta property=”og:locale” content=”en_UK”/>

    <meta property=”og:type” content="website"/>

    
    <meta property=”og:description” content=”{{ site.description }}”/>
    <meta property=”og:url” content=”{{ site.url }}”/>
    <meta property=”og:site_name” content=”{{ site.title }}”/>


    <meta property=”og:image” content=”/assets/open-graph-preview.png”/>
    <meta property=”og:image:width” content=”1280″/>
    <meta property=”og:image:height” content=”640″/>


  
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/kickstart/css/kickstart.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/assets/kickstart/css/style.css" media="all" /> 

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" media="all" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" media="all" />

  <link rel="stylesheet" href="/assets/overrides.css">


  
</head>


