---
layout: default
---

  <div class="col_12">
    <table id="presentations" class="display sortable">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for page in site.pages %}
          {% unless page.exclude %}
            {% if page.url contains ".xml" %}
            {% else %}
            <tr>
              <td><a href="{{ page.url }}">{{ page.title }}</a></td>
              <td>{{ page.description }}</td>
              <td>{{ page.date }}</td>
            </tr>
            {% endif %}
        {% endunless %}
      {% endfor %}
      </tbody>
    </table>
 </div>

  <!--
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}
-->

